.Sidebar {
  min-width: 150px;
  border-right: 1px solid #e2e2e2;
}

.Label {
  font-weight: 500;
  font-size: 11px;
  color: #717171;
  padding-left: 9px;
  height: 27px;
  padding-bottom: 4px;
}

.Item {
  font-size: 11px;
  padding: 0 18px 2px;
  height: 22px;
}
